@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

body {
  font-family: "Inconsolata", monospace;
}

/* Add your custom CSS here */

.text-gradient {
  background: linear-gradient(to right, #F57463, #FFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}